@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0a2640;
  --secondary: #4fe9a4;
  --background: #ffffff;
  --light-gray: #f1f1f1;
  --dark-gray: #777777;
}

body {
  color: var(--dark-gray);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
